.bg01{
    background-color: rgb(13, 194, 133);
}
.bg02{
    background-color: aqua;
}
.img{
    width: 220px;
    height: 240px;
}
.produk{
    text-align: center;
}
.gmbproduk{
    height: 200px;
}
.buton{
    margin-top: 10px;
}
footer{
    max-width: 100%;
    height: 35px;
    background-color: blue;
    color: rgba(16, 226, 68, 0.863);
    padding: 10px;
    font-size: 17px;
}
footer .kiri{
    float: left;
}
footer .kanan{
    float: right;
}